<%= form_for @page do |f| %>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :parent_id %>
  <p>
    <%= f.label :name, "Name" %> <br>
    <%= f.text_field :name %> <br><br>

    <%= f.label :title, "Title" %> <br>
    <%= f.text_field :title %> <br><br>

    <%= f.label :description, "Description" %> <br>
    <%= f.text_area :description, rows: 10 %> <br><br>
  </p>
  <p><%= f.submit "Save Page" %></p>
<% end %>